.title {
    margin-top: 70px;
    margin-bottom: 20px;
 }

.error {
    margin-top: 10px;
    margin-left: 10px;
}

.btn:focus {
    box-shadow: none !important;
    text-decoration: none !important;
}

.btn-link:hover {
    color: green !important;
    text-decoration: none !important;
}

.link_hover:hover {
    color: green !important;
}
